.top-section{

}

.top-section.img{
  height: 95vh;
  background: var(--verde) url('../../assets/img/suomaya2.png');
  background-size: cover;
}

.top-section-content{

}

.top-section-default{
    background-color: var(--verde)
}